

@import "../../node_modules/bootstrap/scss/bootstrap";





.bg-cyan-800 {
  color: $yellow-100;
  background-color: $cyan-800;
}

.text-red-600 {
  color: $red-600;
  
}

.text-purple-700 {
  color: $purple-700;
}

.bg-gray-100 {
  color: $gray-400;
}

nav {
  height: 5rem;
}